MyWorkflows/Lead_Finder.json
{
  "name": "Lead Finder",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        -20
      ],
      "id": "be17118f-1f12-48cb-9f95-b9c8faa5be0a",
      "name": "When chat message received",
      "webhookId": "349219c6-2cb7-4713-b29e-fa327cefa0cb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the company name that I want you to search {{ $json.advertiserName }} first use the AI model to determine the true company name and URL and then use any tool",
        "options": {
          "systemMessage": "You are an expert in LinkedIn Profile Searches and Details\nYou will get the name of a company from the user based on what the user has submitted ensure to use the tools that you have access to search for their employee details and then use the google sheet tool to update their details"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        280,
        -20
      ],
      "id": "4a288bfd-4603-41c7-9e54-f8aa96b2cb47",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/sSTaXtZFO6ieOYaJT/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_7ddOHSZWu2En7OmGuvyhIO5s1IRuiM314hUS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchUrl\": \"https://www.linkedin.com/ad-library/search?keyword={{ $json.chatInput }}\"\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        0
      ],
      "id": "b3d3912d-c33a-49bf-ac7c-d2121b9e8400",
      "name": "Search Running Ads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ba8c971-00b9-45c1-a18c-3781a8bd1c39",
              "leftValue": "={{ $json.adType }}",
              "rightValue": "Video Ad",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dd4f0990-e14c-4b85-bf0d-be6a97927d31",
              "leftValue": "={{ $json.adType }}",
              "rightValue": "Single Image Ad",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -200,
        -20
      ],
      "id": "a7f46b89-dddd-4fba-8580-b1975f44b9ca",
      "name": "Filter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        240,
        200
      ],
      "id": "61d743cc-0bcd-4231-955e-4107ee4f4c29",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "nE2h31TdwtwDh91R",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get details of employees from a single company",
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/caprolok~linkedin-employees-scraper/run-sync-get-dataset-items?token=apify_api_7ddOHSZWu2En7OmGuvyhIO5s1IRuiM314hUS",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"companyUrls\": [\n        \"https://www.linkedin.com/company/{{ $('Remove Duplicates').item.json.advertiserName }}\"\n    ],\n    \"designation\": [\n        \"Marketing\"\n    ],\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        420,
        200
      ],
      "id": "4343d534-9336-4c4d-a3cf-3f93f4f1615d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "advertiserName",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        20,
        -20
      ],
      "id": "98b89135-7a31-44d6-917e-92cf5cca16a7",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18VtSN--ghwW6Hi4WRRUMxVQ6b6GYmQnJH2bv4dQYxaQ",
          "mode": "list",
          "cachedResultName": "Sample Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18VtSN--ghwW6Hi4WRRUMxVQ6b6GYmQnJH2bv4dQYxaQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18VtSN--ghwW6Hi4WRRUMxVQ6b6GYmQnJH2bv4dQYxaQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile Link": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Profile_Link', `LinkedIn Profile Link of the Employuee`, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', `Name of the Employee`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Profile Link",
              "displayName": "Profile Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        540,
        200
      ],
      "id": "561a9dbd-a150-4dbe-a37f-f624a161faf3",
      "name": "Update Google Sheet with Details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OtL4WoC30SNineVk",
          "name": "akshatbahety.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search Running Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Running Ads": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet with Details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0112c9cf-4cda-4509-9549-58fec230aa0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c41c750680e1a5e41d8cb44deb55d23c5eeea6cf7ad0f07ed2638044289a28c"
  },
  "id": "zOCmksu9wolAuaS2",
  "tags": []
}