MyWorkflows/X_Community_Analyzer.json
{
  "name": "X Community Analyzer and Content Generator",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 X Community Analyzer & Content Generator\n\n**Purpose**: This workflow scrapes tweets from a specific X.com community, analyzes them to find top-performing content, and then uses AI to generate new, similar tweets.\n\n**How it works**:\n1. **Manual Trigger**: You provide the X.com Community ID.\n2. **Fetch Tweets**: It calls the twitterapi.io endpoint to get the latest 20 tweets from that community.\n3. **Store Raw Data**: All fetched tweets are stored in a Google Sheet for logging and analysis.\n4. **Rank & Filter**: The tweets are ranked by reply count, and the top 10 are selected.\n5. **AI Content Generation**: The top 10 tweets are sent to an AI model as examples to generate 5 new, high-quality tweets in a similar style.\n6. **Save Generated Content**: The new AI-generated tweets are saved to another Google Sheet.\n\n**Required Setup**:\n- **Twitter API Credentials**: You need a valid API key from twitterapi.io for the 'Fetch Community Tweets' node.\n- **Google Sheets Credentials**: You need to configure credentials for both Google Sheets nodes.\n- **Google Sheet IDs**: You need to provide the Spreadsheet ID for both the raw data and generated content sheets.",
        "height": 450
      },
      "id": "e40e8e45-197a-4222-82d3-18f43831a293",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "fields": [
            {
              "displayName": "Community ID",
              "name": "communityId",
              "type": "string",
              "default": "1782453695713583321",
              "description": "The ID of the X.com community you want to analyze.",
              "placeholder": "e.g., 1782453695713583321"
            }
          ]
        }
      },
      "id": "4532d64a-7140-474c-a111-540c1598f123",
      "name": "Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        840,
        440
      ]
    },
    {
      "parameters": {
        "url": "https://api.twitterapi.io/twitter/community/tweets",
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "community_id",
              "value": "={{ $json.communityId }}"
            }
          ]
        }
      },
      "id": "87979603-522d-41e9-a3b0-2b1328990176",
      "name": "Fetch Community Tweets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1060,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "X-API-Key Header Auth"
        }
      }
    },
    {
      "parameters": {
        "documentId": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
        "sheetName": "Raw_Tweets",
        "operation": "append",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "fields": {
          "mappingMode": "mapAutomatically",
          "mappingNotice": "No data to map, yet."
        }
      },
      "id": "3b1a73e6-9e1e-4b6a-845b-71a2a433b9e4",
      "name": "Store All Tweets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1280,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tweets = $input.item.json.body.tweets;\n\nif (!Array.isArray(tweets)) {\n  console.log('Tweets data is not an array or is missing.');\n  return [{ error: 'No tweets found or invalid data structure' }];\n}\n\n// 1. Map tweets to the desired format\nconst extractedData = tweets.map(tweet => ({\n  \"Tweet by\": tweet.author.name,\n  \"Text Content\": tweet.text,\n  \"Reply Count\": tweet.replyCount,\n  \"Like Count\": tweet.likeCount,\n  \"Tweet URL\": tweet.url,\n  \"Profile User Name\": tweet.author.userName,\n  \"Profile Descriptrion\": tweet.author.description,\n})); \n\nreturn extractedData;"
      },
      "id": "a9d3e8e1-c85d-4f76-8b2b-6b08064a3903",
      "name": "Rank, Filter & Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        640
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are an expert social media content creator specializing in X.com. Your task is to analyze top-performing tweets and generate new, engaging content that mimics their style, tone, and format to maximize engagement and replies."
        }
      },
      "id": "e6a2c3d4-b5a6-4f7e-8c9d-0a1b2c3d4e5f",
      "name": "AI Content Generation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1500,
        640
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20240620",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1500,
        840
      ],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Anthropic Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
        "sheetName": "Generated_Tweets",
        "operation": "append",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "fields": {
          "mappingMode": "mapAutomatically",
          "mappingNotice": "No data to map, yet."
        }
      },
      "id": "e9f8d7c6-b5c4-4a1e-8f9b-2c3d0b1a2b3c",
      "name": "Save Generated Tweets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1720,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Manual": {
      "main": [
        [
          {
            "node": "Fetch Community Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Community Tweets": {
      "main": [
        [
          {
            "node": "Rank, Filter & Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank, Filter & Prepare Prompt": {
      "main": [
        [
          {
            "node": "Store All Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Generation Agent": {
      "main": [
        [
          {
            "node": "Save Generated Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Generation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
} 